.ce-inline-tool {
    &.ce-inline-tool--font {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .button-wrapper-text {
        width: 30px;
    }
    .selectionList {
        position: absolute;
        top: 35px;
        left: 0;
        .selection-list-wrapper {
            width: 50px;
            background: #fff;
            border: 1px solid #eaeaea;
            .selection-list-option {
                padding-top: 5px;
                padding-bottom: 5px;
                border-bottom: 1px solid #eaeaea;
        
                &-active {
                  background-color: #eff2f5;
                }
            }
            .selection-list-option:hover {
                background-color: #eff2f5;
            }
        } 
    }
}
